
 
.front{
    background-color: #f2f2f2;
    background-image:linear-gradient(rgba(248, 250, 252, 0.993),
    rgba(122, 122, 118, 0.384)), url(./images/riet.jpg);
    background-size: cover;
    background-position: center;
    height: 550px;
    /* font-family: "Inter,sans-serif"; */
}
.front h1{
    font-weight: 500;
    font-size: 48PX;
    padding-top:9% ;
    line-height: 58.09px;
    color:#043C8B;
}
.front h2{
    font-weight: 500;
    font-size: 48PX;
    color:#043C8B;
    line-height: 58.09px;

}
.front h3{
    font-size:36px;
    font-weight: 500;
    color:#043C8B;

}
.front button{
    font-weight: 600;
    font-size: 25px;
    background-color: #043C8B;
    color: #FFFFFF;
}
.front button:hover{
    font-weight: 600;
    font-size: 25px;
    color: #043C8B;
    background-color: #FFFFFF;
}
.ABOUT{

    background-color: #FFFFFF;
    color:#494444;
    padding: 5% 5%;
    /* height:500px ;
    width: 80%;
    margin-left: 10%;
  */
 }
 .ABOUT h1{
     color:#043C8B;
    /* t         */
    font-size: 60px;
 
 }

 @media only screen and (max-width: 600px) {
    
    .front h1{
        font-weight: 600;
        font-size: 28PX;
        padding-top:15% ;
        line-height: 58.09px;
        color:#043C8B;
    }
    .front h2{
        font-weight: 600;
        font-size: 28PX;
        color:#043C8B;
        line-height: 58.09px;
    
    }
    .front h3{
        font-size:26px;
        font-weight: 600;
        color:#043C8B;
    
    }
    .front button{
        font-weight: 600;
        font-size: 25px;
        background-color: #043C8B;
        color: #FFFFFF;
    }
    .front button{
        font-weight: 300;
        font-size: 17px;
        background-color: #043C8B;
        color: #FFFFFF;
    }
    .ABOUT h1{
        color:#043C8B;
       /* t         */
       font-size: 40px;
    
    }
    .max{
        width: 70px;
        height: 80px; 
        background-color: green;      
        border-radius: 25px; 
    }
    .front{
        height: 35vh;
    } 

}
 @media screen and (min-width: 1695px) and (max-width: 2896px) {
    .front{
        height: 50vh;
    }
    
    }
